* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.inf-content {
  border: 1px solid #dddddd;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

body {
  background: #f1f2f7;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  min-height: 65px;
}

footer {
  margin-top: auto;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  color: black;
  padding: 8px 16px;
  cursor: pointer;
}

.pagination li.active {
  background: #575e57;
  color: white;
  border-radius: 5px;
}

.pagination li:hover:not(.active) {
  background: #ddd;
  border-radius: 5px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.mw-20 {
  min-width: 20%;
}

.mw-60 {
  min-width: 60%;
}

.bg-none {
  background: none;
  border: none;
}

.v-a-top {
  vertical-align: top;
}

.c-pointer {
  cursor: pointer;
}

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}