.m-0 {
  margin: 0;
  margin: none;
}

.ml-1 {
  margin-left: (5px) !important;
}

.ml-4 {
  margin-left: (20px) !important;
}

.ml-8 {
  margin-left: (40px) !important;
}

.mr-2 {
  margin-right: (10px) !important;
}

.mr-8 {
  margin-right: (40px) !important;
}

.mt-2 {
  margin-top: (10px) !important;
}

.mb-2 {
  margin-bottom: (10px) !important;
}

.mb-5 {
  margin-bottom: (25px) !important;
}

.pr-80 {
  padding-right: (400px) !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.flex-grow-0 {
  flex-grow: 0 !important;
}