-if user_signed_in?
  - if @category.owner['id'] == current_user.id
    .d-flex
      = link_to 'Edit', edit_category_path, class: 'btn btn-secondary mb-2'
      = button_to 'Delete', category_path(@category), data: { confirm: 'Are you sure?' }, class: 'btn btn-danger mb-2 ml-1', method: :delete
  = render 'categories/shared/card'
-else
  %h3= 'You are not signed in'