!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    = wicked_pdf_stylesheet_link_tag 'pdf'
    = wicked_pdf_javascript_include_tag 'number_pages'
  %body{onload: 'number_pages'}
    #header
      %h2= @item.title
    #content
      = yield